@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  background-image: url("../public/assets/images/black.jpg");
  background-color: rgb(37, 37, 37);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 499px) {
  .body {
    background-color: #000;
  }
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1224px;
  min-height: 95vh;
  padding: 3.5rem 1.5rem 0 1.5rem;
  margin: 0 auto;
}

.container-portfolio {
  padding-top: 7rem;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.title span {
  color: #0070f3;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 5px;
}

.title h1 {
  color: #fff;
  font-size: 3rem;
  position: relative;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 2.5rem 1rem 0 1rem;
  }
  .title h1 {
    font-size: 2.5rem;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header.active {
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.Nav_container {
  position: relative;
  max-width: 1224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  margin-left: auto;
  margin-right: auto;
}
.Nav_container .logo {
  background: transparent;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Nav_container .logo img {
  transition: transform 0.5s ease;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
  display: flex;
  align-self: center;
  width: 35px;
  height: 35px;
}
.Nav_container .logo img:hover {
  transform: rotate(180deg);
  scale: 0.9;
}
.Nav_container .social_icons {
  display: flex;
}
@media screen and (max-width: 800px) {
  .Nav_container .social_icons {
    display: none;
  }
}
.Nav_container .social_icons div {
  margin-left: 1rem;
}
.Nav_container .social_icons div svg {
  display: flex;
  align-self: center;
  cursor: pointer;
  color: #fff;
  opacity: 0.6;
  transition: 0.3s;
  z-index: 5;
}
.Nav_container .social_icons div svg:hover {
  opacity: 1;
}
.Nav_container .menu {
  background: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .Nav_container .menu {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.Nav_container .menu svg {
  width: 70%;
  height: 70%;
}
.Nav_container .closeMenu {
  background: #000;
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 50%;
}
.Nav_container .menuX {
  color: #fff;
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
.Nav_container .menuX svg {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 1.4rem;
  right: 2.3rem;
}
.Nav_container .menuX li {
  list-style: none;
  margin-top: 1.5rem;
}
.Nav_container .menuX li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.Nav_container .menuX li a:hover {
  opacity: 1;
}

.nav_links {
  display: flex;
  list-style: none;
}
.nav_links li {
  margin-left: 3rem;
}
@media screen and (max-width: 800px) {
  .nav_links li {
    display: none;
  }
}
.nav_links li a {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.85rem;
  opacity: 0.6;
}
.nav_links li a:hover {
  opacity: 1;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .gradient-heading {
  background-image: linear-gradient(90deg, #0070f3, #00dfd8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
#home .text-box {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .text-box .third-line {
  background-image: linear-gradient(90deg, #00dfd8, #0070f3);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
#home .profile {
  width: 110px;
  height: 110px;
}
#home .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#home .profile_text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#home .profile_text h3 {
  color: #fff;
  font-size: 2rem;
}
@media screen and (max-width: 500px) {
  #home .profile_text h3 {
    font-size: 1.5rem;
  }
}
#home .profile_text h3 span {
  color: #0070f3;
}
#home .profile_text .job {
  color: #fff;
  opacity: 0.5;
  font-size: 0.85rem;
}
#home .profile_text .text {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  line-height: 1.3;
  font-weight: 800;
}
@media screen and (max-width: 1024px) {
  #home .profile_text .text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 530px) {
  #home .profile_text .text {
    font-size: 2.5rem;
  }
}
#home .profile_text a {
  margin-top: 3rem;
  text-decoration: none;
  color: #000;
  background: #fff;
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  text-transform: capitalize;
}
#home .profile_text div {
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  padding: 0.35rem 1rem;
  border-radius: 25px;
  font-size: 0.85rem;
  cursor: default;
}
@media screen and (max-width: 800px) {
  #home .profile_text div {
    display: none;
  }
}
#home .profile_text .uiDesign {
  right: -1rem;
  top: 3.5rem;
}
#home .profile_text .reactJS {
  top: 2rem;
  left: 2rem;
}
#home .profile_text .nextJS {
  bottom: 2rem;
  left: 0;
}

.about_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  position: relative;
}
@media screen and (max-width: 700px) {
  .about_container {
    grid-template-columns: 1fr;
  }
}
.about_container .about_left {
  background: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  max-width: 350px;
  height: 350px;
  justify-self: center;
  border-radius: 5px;
  box-shadow: 0 0 20px #0070f3;
}
.about_container .about_left .motion-div-desktop {
  height: 100%;
}
@media screen and (max-width: 499px) {
  .about_container .about_left .motion-div-desktop {
    display: none;
  }
}
.about_container .about_left .div-mobile {
  height: 100%;
}
@media screen and (min-width: 500px) {
  .about_container .about_left .div-mobile {
    display: none;
  }
}
.about_container .about_left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.about_container .about_right {
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .about_container .about_right {
    padding: 0;
    margin-top: 2rem;
  }
}
.about_container .about_right p {
  font-size: 0.85rem;
  margin-bottom: 1rem;
  max-width: 450px;
}
.about_container .about_right .bio {
  display: flex;
  font-size: 0.85rem;
  max-width: 200px;
  margin-bottom: 1rem;
}
.about_container .about_right .bio .bioKey {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 3rem;
}
.about_container .about_right .bio .bioValue {
  min-width: 220px;
}
.about_container .about_right a {
  text-decoration: none;
  color: #000;
  background: #fff;
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  text-transform: capitalize;
  width: 165px;
}

.skills-container {
  padding-top: 4em;
}
@media screen and (max-width: 500px) {
  .skills-container {
    padding-top: 6em;
    padding-bottom: 4.5em;
  }
}

.select {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
}
.select button {
  color: #000;
  background: #fff;
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  font-family: "Poppins";
}
.select button.active {
  background: #0070f3;
  color: #fff;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  row-gap: 4rem;
}
@media screen and (max-width: 600px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.skills .tools {
  display: flex;
  justify-content: center;
}
.skills .tools svg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #fff;
  margin: 0 1em;
}

.experiencs {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.experiencs .experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.experiencs .experience span {
  font-size: 1.75rem;
  padding-left: 2.5rem;
}
@media screen and (max-width: 405px) {
  .experiencs .experience span {
    font-size: 1rem;
  }
}
.experiencs .experience .position {
  width: 300px;
  padding-left: 2.5rem;
}
.experiencs .experience .position h3 {
  font-size: 1.1rem;
}
@media screen and (max-width: 405px) {
  .experiencs .experience .position h3 {
    font-size: 0.85rem;
  }
}
.experiencs .experience .position p {
  font-size: 0.75rem;
  opacity: 0.6;
}
@media screen and (max-width: 405px) {
  .experiencs .experience .position p {
    font-size: 0.65rem;
  }
}

.finishes_container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .finishes_container {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .finishes_container {
    margin-top: 4rem;
  }
}
.finishes_container .number {
  color: #0070f3;
  font-size: 1.7rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.buttons button {
  color: #000;
  background: #fff;
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  font-family: "Poppins";
}
.buttons button.active {
  background: #0070f3;
  color: #fff;
}

.link-project {
  margin-left: auto;
  margin-right: auto;
  cursor: default;
}

.workImages {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 800px) {
  .workImages {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .workImages {
    grid-template-columns: 1fr;
  }
}
.workImages .workImage {
  max-width: 380px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (max-width: 600px) {
  .workImages .workImage {
    margin-bottom: 0.45rem;
    max-width: 350px;
  }
}
.workImages .workImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.workImages .workImage .hoverLayer {
  background: #0070f3;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 499px) {
  .workImages .workImage .hoverLayer {
    display: none;
  }
}
.workImages .workImage .hoverLayer a {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.workImages .workImage .hoverLayer a svg {
  color: #fff;
  font-size: 1.5rem;
}

.talk {
  margin-top: 3rem;
  background: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 1rem;
}
.talk .talk_left h3 {
  font-size: 1.5rem;
  color: rgb(206, 206, 206);
}
.talk .talk_left h3 span {
  font-size: 3.5rem;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(173, 173, 173));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
@media screen and (max-width: 599px) {
  .talk .talk_left h3 span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 360px) {
  .talk .talk_left h3 span {
    font-size: 1.5rem;
  }
}
.talk .talk_right {
  align-self: flex-end;
  margin-bottom: 1.5rem;
  background: #0070f3;
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}

.contact_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  overflow: hidden;
}
.contact_form a {
  color: #000;
}
.contact_form .btn-send {
  cursor: pointer;
  color: #fff;
}
.contact_form .submit-message {
  margin-bottom: 0.6em;
}
.contact_form .invalid-submit {
  font-size: 13px;
}
.contact_form .valid-submit {
  font-size: 13px;
  color: #198754;
}
.contact_form .success-container {
  display: flex;
  justify-content: center;
}
.contact_form .success-container .success-img {
  margin-top: 2.2em;
  width: 30%;
  height: 30%;
}
@media screen and (max-width: 700px) {
  .contact_form {
    grid-template-columns: 1fr;
  }
}
.contact_form .contact_left_container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.contact_form .contact_left_container .contact_text {
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.contact_form .contact_left_container .contact_left {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.contact_form .contact_left_container .contact_left .icon {
  width: 50px;
  height: 50px;
  background: #0070f3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}
.contact_form .contact_left_container .contact_left p {
  font-size: 0.85rem;
}
.contact_form .contact_left_container .social_icons {
  display: flex;
  margin-top: 1rem;
}
.contact_form .contact_left_container .social_icons div {
  margin-right: 1rem;
  cursor: pointer;
}
.contact_form .contact_left_container .social_icons div:hover {
  opacity: 0.8;
}
.contact_form .contact_left_container .social_icons div svg {
  font-size: 1.3rem;
}
.contact_form .contact_right h3 {
  font-size: 1.5rem;
  margin-bottom: 0.65rem;
}
.contact_form .contact_right .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}
.contact_form .contact_right .row input {
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  background: #f3f3f3;
  border-radius: 5px;
  font-size: 0.85rem;
  font-family: "Poppins";
}
.contact_form .contact_right .row textarea {
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  background: #f3f3f3;
  border-radius: 5px;
  resize: none;
  min-height: 150px;
  font-size: 0.85rem;
  font-family: "Poppins";
}
.contact_form .contact_right .btn {
  margin-top: 1rem;
  background: #0070f3;
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  width: 4.2rem;
}
.contact_form .contact_right .btn-disabled {
  margin-top: 1rem;
  background: lightgrey;
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  width: 4.2rem;
  cursor: not-allowed;
}
.contact_form .contact_right a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
}

.go-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #000;
  border: none;
  cursor: pointer;
  position: fixed;
  border: none;
  border-radius: 100%;
  bottom: 11vh;
  right: 7vw;
  z-index: 9;
}
.go-top .go-top-btn {
  display: flex;
  align-self: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.footer a {
  color: white;
}
.footer .copyright p {
  font-size: 0.85rem;
}
.footer .copyright p a {
  text-decoration: none;
}
.footer .copyright p a span {
  color: #61dbfb;
  font-weight: 800;
}
.footer .followMe {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .followMe h4 {
  font-size: 0.85rem;
}
.footer .followMe .stick {
  height: 2px;
  width: 3rem;
  background: #fff;
}
.footer .followMe .social_icons {
  display: flex;
  gap: 0.5rem;
}
.footer .followMe .social_icons svg {
  opacity: 0.7;
  cursor: pointer;
}
.footer .followMe .social_icons svg:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */